{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "semi": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "arrowParens": "always",
    "insertPragma": false,
    "requirePragma": false,
    "proseWrap": "never",
    "htmlWhitespaceSensitivity": "ignore",
    "quoteProps": "as-needed",
    "vueIndentScriptAndStyle": true,
    "endOfLine": "auto",
    "eslintIntegration": false,
    "ignorePath": ".prettierignore",
    "stylelintIntegration": false,
    "tslintIntegration": false,
    "cursorOffset": -1
}